<!DOCTYPE html>
<html>
  <head>
    <title>Minhas Listas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="app">
      <header class="header">
        <div class="container">
          <%= link_to lists_path, class: "logo" do %>
            <span>Listas</span>
          <% end %>

          <%= link_to new_list_path, class: "btn btn-primary" do %>
            <span>+</span>
            Nova Lista
          <% end %>
        </div>
      </header>

      <main class="main">
        <%= yield %>
      </main>
    </div>
    <%# Adicionei essa linha pois não estava conseguindo chama-la pelo maps %>
    <%#script type="module" src="https://cdn.jsdelivr.net/npm/@hotwired/turbo@7.3.0/dist/turbo.es2017-esm.js"></script%>
  </body>
</html>